.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #27d0ff;
  color: white;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
}
.main-page button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  //   border: none;
  //   border-radius: 5px;
  //   background-color: #b7d1fe;
  //   color: #000000;
  //   font-size: 1.2rem;
  //   font-weight: 700;
  //   cursor: pointer;
  //   transition: all 0.3s ease-in-out;
  min-width: 120px;
}

.main-page h1{
  font-family: "Cormorant Infant", serif;
  font-family: "Kalam", cursive;
}