<div class="movie-card-container">
  <div class="profile-view-header-container">
    <div >
      <!-- <a class="profile-view_header" [routerLink]="['/profile']">View Profile</a> -->
    </div>
  </div>
  <div class="movie-cards">
    <mat-card *ngFor="let movie of movies" class="movie-card">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img [src]="movie.imagePath" [alt]="movie.Title" />
    <mat-card-actions>
      <button mat-button color="basic">Genre</button>
      <button mat-button color="basic">Director</button>
      <button mat-button color="basic">Synopsis</button>
      <mat-icon>favorite_border</mat-icon>
    </mat-card-actions>
  </mat-card>
  </div>
</div>
