.movie-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  background-color: #27d0ff;
  padding: 10px;
  align-content: center;
}

.movie-card {
  max-width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
